<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Universe:</strong>
  <%= @story.universe.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @story.genre %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @story.summary %>
</p>

<p>
  <strong>Characters:</strong>
  <% @story.character.each do |character| %>
  <p><%= character.name %></p>
  <% end %>
</p>



<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>