
<div class="glitchDiv">
	<h1 class="glitch romance" data-text="<%= @story.name %>">
	  <%= @story.name %>
	</h1>
</div>



<div class="romanceBody scifiBody">
	<p>
	  <strong>Universe:</strong>
	  <%= @story.universe.name %>
	</p>

	<p>
	  <strong>Genre:</strong>
	  <%= @story.genre.name %>
	</p>

	<p>
	  <strong>Summary:</strong>
	  <%= @story.summary %>
	</p>

	<p>
	  <strong>Characters:</strong>
	  <% @story.character.each do |character| %>
	  <p><%= character.name %></p>
	  <% end %>
	</p>

	<% if @story.genre.name == "Sci-fi" %>
		<%= stylesheet_link_tag 'scifi' %>
	<% elsif @story.genre.name == "Romance" %>
		<%= stylesheet_link_tag 'romance' %>
		<%= javascript_pack_tag 'romance' %>
	<% end %>


</div>


<%= link_to 'Edit', edit_story_path(@story) %>
<%= link_to 'Back', stories_path %>