<div class="glitchDiv">
	<h1 class="name glitch romance comedy fantasy" data-text="<%= @story.name %>">
	  <%= @story.name %>
	</h1>
</div>


<div class="romanceBody scifiBody comedyBody fantasyBody body">



		<div class="bird-container bird-container--one">
			<div class="bird bird--one"></div>
		</div>

		<div class="bird-container bird-container--two">
			<div class="bird bird--two"></div>
		</div>

		<div class="bird-container bird-container--three">
			<div class="bird bird--three"></div>
		</div>

		<div class="bird-container bird-container--four">
			<div class="bird bird--four"></div>
		</div>


	<p>
	  <strong>Universe:</strong>
	  <%= @story.universe.name %>
	</p>

	<p>
	  <strong>Genre:</strong>
	  <%= @story.genre.name %>
	</p>

	<p>
	  <strong>Summary:</strong>
	  <%= @story.summary %>
	</p>

	<p>
	  <strong>Characters:</strong>
	  <% @story.character.each do |character| %>
	  <p class="charname"><%= link_to character.name, character %></p>
	  <% end %>
	</p>

	<% if @story.genre.name == "Sci-fi" %>
		<%= stylesheet_link_tag 'scifi' %>
	<% elsif @story.genre.name == "Romance" %>
		<%= stylesheet_link_tag 'romance' %>
		<%= javascript_pack_tag 'romance' %>
	<% elsif @story.genre.name == "Comedy" %>
		<%= stylesheet_link_tag 'comedy' %>
	<% elsif @story.genre.name == "Fantasy" %>
		<%= stylesheet_link_tag 'fantasy' %>
	<% end %>

	<%= stylesheet_link_tag 'show' %>

</div>

<div class="links">
	<%= link_to 'Edit', edit_story_path(@story), :class => 'tags' %>
	<%= link_to 'Back', stories_path, :class => 'tags' %>
</div>