<div class="contain">
	<h1><%= @character.name %> </h1>

	<%= form_with scope: :character, url: create_Relation_path, local: true do |form| %>
		<p class="oneDiv">Character:
		<%= form.collection_select :character_id, @notRelated, :id, :name %>
		</p>

		<p class="oneDiv">
	    <%= form.label :affiliation %>
	    <%= form.text_field :affiliation, :required => 'required'%>
	  </p>


	  	<%= form.submit :class => "submit"%>

	<% end %>

	<%= link_to "Back", characters_path %>

</div>
<%= stylesheet_link_tag 'edit' %>