<div class="contain">
	<h1>Editing Character</h1>

	<%= form_with scope: :character, model: @character, local: true do |form| %>

		<div class="checkBox">
			<%= form.collection_check_boxes :story_ids, @stories, :id, :name  do |story|%>
				<p>
					<%= story.check_box %>
					<%= story.label %>
				</p>
			<% end%>
		</div>

		<div class="formName">
	    <%= form.label :name %>
	    <%= form.text_field :name %>
	  </div>


	    <%= form.submit :class => "submit"%>

	<% end %>

	<%= link_to 'Back', @character %>
	<%= link_to 'Home', characters_path %>
</div>
<%= stylesheet_link_tag 'edit' %>