<div class="contain">
	<h1>Editing Qualities</h1>
	<%= form_with scope: :quality, model: @character, local: true do |form| %>

		<div class="formName">
	    <%= form.label :quality %>
	    <%= form.text_field :quality %>
	  </div>

	  <div class="formName">
	    <%= form.label :value %>
	    <%= form.text_field :value %>
	  </div>

	    <%= form.submit :class => 'submit' %>
	<% end %>
</div>
<%= stylesheet_link_tag 'edit' %>