<h1>Editing Character</h1>

<%= form_with scope: :character, model: @character, local: true do |form| %>

	<%= form.collection_check_boxes :story_ids, @stories, :id, :name %>

	<p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>