<div class="contain">
	<h1>Editing Character</h1>

	<%= form_with scope: :character, model: @character, local: true do |form| %>

		<div class="checkBox">
			<%= form.collection_check_boxes :story_ids, @stories, :id, :name %>
		</div>

		<div class="formName">
	    <%= form.label :name %>
	    <%= form.text_field :name %>
	  </div>

	  <div class="submit">
	    <%= form.submit %>
	  </div>
	<% end %>

	<%= link_to 'Back', @character %> |
	<%= link_to 'Home', characters_path %>
</div>
<%= stylesheet_link_tag 'edit' %>