<div class="show">
	<div class="headerText">
		<h1>CHARACTERS</h1>
	</div>

	<div class="tableDiv">
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @characters.each do |character| %>
	      <tr>
	        <td><%= character.name %></td>
	        <td class="linkButton"><%= link_to 'Show', character %></td>
	        <td class="linkButton"><%= link_to 'Edit', edit_character_path(character) %></td>
	        <td class="linkButton"><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	</div>

	<div class="createNew"><%= link_to 'New Character', new_character_path %></div>
	<div>
		<%= javascript_pack_tag 'd3Graph/test.js' %>
	</div>
</div>

<%= stylesheet_link_tag 'template' %>