<div class="show">
	<%= link_to 'Edit', edit_character_path(@character) %> |
	<%= link_to 'Back', characters_path %>


	<h1 class="name"><%= @character.name %></h1>

	<div class="contain">
	  <h1><strong>Stories</strong></h1>
	  <% @character.story.each do |story| %>
	  <p><%= story.name %></p>
	  <% end %>
	</div>

	<div class="contain">
	  <h1><strong>Qualities:</strong></h1>
	  <% @qualities.each do |key,value| %>
	  	<p><%=key%>: <%=value%></p>
	  <% end %>
	  <%= @qualities %>
	</div>

	<div class="contain">
		<h1><strong>Relationships:</strong></h1>
		<% @characters.each do |key,value| %>
			<p><%=key%>: <%= value.affiliation %>
			<%=link_to 'Destroy', "/characters/deleteAffiliation/#{value.id}" , method: :delete, data: { confirm: 'Are you sure?' }%>
			</p>
		<% end %>
		<span class="add"><%= link_to 'Add relationship', add_relation_path %></span>
	</div>

	<div>
		<%= javascript_pack_tag 'hello_react' %>
		<%= javascript_pack_tag 'd3Graph/test.js' %>
	</div>
	<br/>


</div>
<%= stylesheet_link_tag 'characters' %>