<%= form_with(model: character_character, local: true) do |form| %>
  <% if character_character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character_character.errors.count, "error") %> prohibited this character_character from being saved:</h2>

      <ul>
        <% character_character.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user1 %>
    <%= form.number_field :user1 %>
  </div>

  <div class="field">
    <%= form.label :user2 %>
    <%= form.number_field :user2 %>
  </div>

  <div class="field">
    <%= form.label :relationship %>
    <%= form.text_field :relationship %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
