<p id="notice"><%= notice %></p>

<p>
  <strong>User1:</strong>
  <%= @character_character.user1 %>
</p>

<p>
  <strong>User2:</strong>
  <%= @character_character.user2 %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @character_character.relationship %>
</p>

<%= link_to 'Edit', edit_character_character_path(@character_character) %> |
<%= link_to 'Back', character_characters_path %>
