<div class="show">
	<h1 class="name"><%= @universe.name %></h1>

	<div class="contain">
	  <h1><strong>Description:</strong></h1>
	  <p><%= @universe.description %></p>
	</div>

	<div class="contain">
		<h1><strong>List of stories:</strong></h1>
		<% @universe.story.each do |story| %>
			<p><%= story.name %></p>
		<% end %>
	</div>

	<div class="links">
		<%= link_to 'Edit', edit_universe_path(@universe) %> |
		<%= link_to 'Back', universes_path %>
	</div>
</div>

<%= stylesheet_link_tag 'shows' %>