<p id="notice"><%= notice %></p>
<h1 >UNIVERSE</h1>

<p>
  <strong>Name:</strong>
  <%= @universe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @universe.description %>
</p>

<p>
	<strong>List of stories:</strong>
	<% @universe.story.each do |story| %>
		<p><%= story.name %></p>
	<% end %>
</p>

<%= link_to 'Edit', edit_universe_path(@universe) %> |
<%= link_to 'Back', universes_path %>