<div class="glitchDiv">
	<h1 class="glitch" data-text=<%= @universe.name %>><%= @universe.name %></h1>
</div>



<p>
  <strong>Description:</strong>
  <%= @universe.description %>
</p>

<p>
	<strong>List of stories:</strong>
	<% @universe.story.each do |story| %>
		<p><%= story.name %></p>
	<% end %>
</p>

<% if @universe.description.include? "Sci-fi" %>
	<%= stylesheet_link_tag 'scifiUniverses' %>
<% end %>

<%= link_to 'Edit', edit_universe_path(@universe) %> |
<%= link_to 'Back', universes_path %>