<!DOCTYPE html>
<html>
  <head>
    <title>OthrWrld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>

  <body style="margin: 0">
  	<% if user_signed_in?%>
  	<header>
  		<h1 class='navbrand'><a href="/" data-text="Othrwrld" id="brand">Othrwrld</a></h1>
  		<nav>
  			<ul class="navlinks">
  				<li><%= link_to 'Universe', universes_path%></li>
  				<li><%= link_to 'Story', stories_path %></li>
  				<li><%= link_to 'Character', characters_path %></li>
  				<li><%= link_to 'log out', destroy_user_session_url, method: :delete %></li>
  			</ul>
  		</nav>
  	</header>
		<% end %>
    <%= yield %>
  </body>
  <%= stylesheet_link_tag 'scaffolds' %>
  <%= stylesheet_link_tag 'navbar' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'navbar' %>
</html>