<!DOCTYPE html>
<html>
  <head>
    <title>OthrWrld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <script src="https://d3js.org/d3.v5.min.js"></script>
  </head>

  <body style="margin: 0">
  	<% if user_signed_in?%>
  	<header>
  		<h1 class='navbrand'><a href="/" data-text="Othrwrld" id="brand">Othrwrld</a></h1>
  		<nav>
  			<ul class="navlinks">
  				<li>
  					<a href="/universes" id="universes">
	  					<span></span>
	  					<span></span>
	  					<span></span>
	  					<span></span>
	  					Universe
  					</a>
  				</li>
  				<li>
  					<a href="/stories" id="stories">
	  					<span></span>
	  					<span></span>
	  					<span></span>
	  					<span></span>
	  					Story
  					</a>
  				</li>
  				<li>
  					<a href="/characters" id="characters">
	  					<span></span>
	  					<span></span>
	  					<span></span>
	  					<span></span>
	  					Character
  					</a>
  				</li>
  				<li>
  					<a href="/users/sign_out" data-method="delete" id="logout">
  					<span></span>
  					<span></span>
  					<span></span>
  					<span></span>
  					Log out
  					</a>
  				</li>
  			</ul>
  		</nav>
  	</header>
		<% end %>
    <%= yield %>
  </body>
  <%= stylesheet_link_tag 'scaffolds' %>
  <%= stylesheet_link_tag 'navbar' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'navbar' %>
</html>