<!DOCTYPE html>
<html>
  <head>
    <title>OthrWrld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  	<% if user_signed_in?%>
	  	<%= link_to 'Universe', universes_path%>
			<%= link_to 'Story' %>
			<%= link_to 'Character', characters_path %>
		<% end %>
    <%= yield %>
  </body>
</html>